@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Fredericka+the+Great&family=Kaushan+Script&family=Rajdhani:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor0: #ffe0e0;
    --cor1: #ffa8a8;
    --cor2: #ff6262;
    --cor3: #ff0000;
    --cor4: #8a0000;
    --cor5: #330000;

    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-titulo: 'Rajdhani', sans-serif;
    --fonte-codigo: 'Courier New', Courier, monospace;
}

* {
    /*margin: 0 0 0 0;
    padding: 0 0 0 0;*/
}

body {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor2));
}

header {
    background-color: black;
    padding: 10px 50px 50px 50px;
    margin: auto;
    height: 100px;
}

header > h1 {
    font-size: 2em;
    color: white;
}

header > h2 {
    font-size: 1.5em;
    color: white;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
    font-family: var(--fonte-padrao);
}

main img.capa {
    width: 75%;
    display: block;
    margin: auto;
}

h1 {
    color: var(--cor3);
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: bold;
}

h2 {
    color: var(--cor4);
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}

h3 {
    color: var(--cor5);
    font-family: var(--fonte-titulo);
    font-size: 2em;
}

p {
    font-size: 1em;
    text-align: justify;
}

a {
    color: black;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

li {
    font-size: 1em;
}

a:hover {
    background-color: var(--cor2);
}

.dica {
    border-bottom: dotted;
    border-top: dotted;
    width: 75%;
    padding: 0px 40px;
    margin: auto;
}

code {
    font-family: var(--fonte-codigo);
    font-size: 1em;
}

pre {
    margin: 1px;
    padding: 1px;
    color: #2e0a08;
}

.codigo {
    border-style: dotted;
    width: 95%;
    padding: 0px 20px;
    margin: auto;
    background-color: #ea514610;
    font-size: 1em;
}

.legenda {
    font-size: 0.85em;
}

nav img.botao {
    width: 64px;
}